<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - 科研管理系统</title>
    <link rel="stylesheet" href="/static/css/uikit.almost-flat.css">
    <link rel="stylesheet" href="/static/css/uikit.almost-flat.min.css">
    <link rel="stylesheet" href="/static/css/awesome.css" />
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/sha1.min.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit.js"></script>
    <script src="/static/js/sticky.min.js"></script>
    <script src="/static/js/vue.min.js"></script>
    <script src="/static/js/awesome.js"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container uk-container-center">
            <a href="/" class="uk-navbar-brand">科研管理系统</a>
            <ul class="uk-navbar-nav">
                <li data-url="blogs"><a href="/"><i class="uk-icon-home"></i> 首页</a></li>
                <li><a target="_blank" href=""><i class="uk-icon-question"></i> 常见问题</a></li>
                <li><a target="_blank" href=""><i class="uk-icon-phone"></i> 联系我们</a></li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">
                {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a href="#0"><i class="uk-icon-user"></i> {{ __user__.name }}</a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/settings"><i class="uk-icon-gear"></i> 设置</a></li>
                                <li><a href="/signout"><i class="uk-icon-sign-out"></i> 登出</a></li>
                            </ul>
                        </div>
                    </li>
                {% else %}
                    <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-center">
        <div class="uk-grid uk-grid-divider">
            <div class="uk-width-1-5">
                <ul class="uk-nav uk-nav-side">
                    <li><a href="">指南发布</a></li>
                    <li class="uk-active"><a href="">立项策划</a></li>
                    <li><a href="">中期执行情况检查</a></li>
                    <li><a href="">年底科研进度检查</a></li>
                    <li><a href="">所内结题验收</a></li>
                    <li><a href="">所外结题验收</a></li>
                    <li><a href="">资料归档</a></li>
                </ul>
            </div>
            <div class="uk-width-4-5">
                <!-- content -->
                {% block content %}
                {% endblock %}
                <!-- // content -->
            </div>
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="/" class="uk-icon-finger"></a>

                </p>
                <p>Powered by <a href="/">flask</a>. Copyright &copy; 2017. [<a href="/manage/" target="_blank">Manage</a>]</p>
                <p><a href="/" target="_blank">daoist</a>. All rights reserved.</p>
            </div>

        </div>
    </div>
</body>
</html>